.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
  overflow: hidden;
}
.scroll-vard {
  scrollbar-width: auto;
  scrollbar-color: #636363;
}
.scroll-vard::-webkit-scrollbar {
  width: 1px;
}
.scroll-vard::-webkit-scrollbar-thumb {
  background-color: #636363;
  border-radius: 8px;
}


#mychat{
  background-color: #111b21;
  height: 100%;
  display: flex;
}

#chatbox{
  background-color: #dee0df;
  height: 100%;
  display: flex;

}

.date{
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
color: #adadad;
font-weight: bold;
font-size: 15px;
}
.date-span{
  background-color:#454242 ;
  padding:5px 10px;
  border-radius: 10px;
}

.user-avatar{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 5px;
  cursor: pointer;
}


.time-stamp{
display: flex;
align-items: center;
justify-content: flex-end;
margin-top: 5px;
}

.chat-user-item:hover{
  background-color: #131f25;

}


