.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
  overflow: hidden;
}
.scroll-vard {
  scrollbar-width: auto;
  scrollbar-color: #636363;
}
.scroll-vard::-webkit-scrollbar {
  width: 1px;
}
.scroll-vard::-webkit-scrollbar-thumb {
  background-color: #636363;
  border-radius: 8px;
}


#mychat{
  background-color: black;
  height: 100%;
  display: flex;
}

#chatbox{
  background-color: #dee0df;
  height: 100%;
  display: flex;

}
  

