.chat{
    width: 100%;
    height: 100vh;
    max-width: 1920px;
    position: fixed;
    margin-left: 0px; 
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-color:#182329;
}


    


